<project name="BuildConfig" xmlns:maven="urn:maven-ant">
  <!-- Get the root directory of the project by looking at the directory enclosing this file. -->
  <dirname property="rootdir" file="${ant.file.BuildConfig}"/>
  <!-- Configure helpful stuff -->
  <property environment="env"/>
  <property name="WHILEYHOME" value="${env.WHILEYHOME}"/>
  <property name="wyrt.jar" value="${rootdir}/lib/wystd-v0.2.2.jar"/>
  <property name="wybench.jar" value="${rootdir}/lib/wybench.jar"/>
  <property name="wyc.verification" value="false"/>
  <property name="input" value=""/>
  <property name="main" value="Main"/>
  <!-- Set the current version -->
  <property name="version" value="0.1.8"/>
  <!-- Define destination for jar -->
  <property name="LIB_DIR" value="lib/"/>
  <!-- Load the Maven Ant tasks so that we can work with Maven repositories. -->
  <typedef uri="urn:maven-ant" classpath="${rootdir}/lib/maven-ant-tasks-2.1.3.jar" resource="org/apache/maven/artifact/ant/antlib.xml"/>
  <!-- Set the classpath for Junit and its dependencies -->
  <maven:dependencies pathId="wyc.jar">
    <dependency groupId="org.whiley" artifactId="wyc" version="0.5.2"/>
  </maven:dependencies>
  <!-- Define the WyC build task -->
  <taskdef name="wyc" classname="wyc.util.AntTask">
    <classpath>
      <path refid="wyc.jar"/>
      <!--
      <pathelement location="${WHILEYHOME}/lib/wyc-0.4.12.jar"/>
      <pathelement location="${WHILEYHOME}/lib/wycc-0.5.6.jar"/>
      <pathelement location="${WHILEYHOME}/lib/wytp-0.6.1.jar"/>
      -->
    </classpath>
  </taskdef>
</project>
