<!-- Requires environment WYBENCH_HOME is set -->

<project name="BuildConfig">
  <property environment="env"/>
  <property name="wyc.verification" value="false"/>
  <property name="wyc.verificationConditions" value="false"/>
  <property name="input" value=""/>
  <property name="main" value="Main"/>

  <property name="wyjc.jar" value="${env.WYBENCH_HOME}/lib/wyjc-all-v0.3.37.jar"/>
  <property name="wyrl.jar" value="${env.WYBENCH_HOME}/lib/wyrl-v0.4.4.jar"/>
  <property name="wyrt.jar" value="${env.WYBENCH_HOME}/lib/wyrt-v0.3.37.jar"/>
  <property name="wybench.jar" value="${env.WYBENCH_HOME}/lib/wybench.jar"/>
  <taskdef name="wyjc" classname="wyjc.util.WyjcAntTask" classpath="${wyjc.jar}:${wyrl.jar}"/>
</project>
